#IDE files
.idea

# Bootstrap
app/bootstrap*

#Documentation
_doc

#wiki
e-Localuri.wiki

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#bkp files
*.php~