#IDE files
.idea

# Bootstrap
app/bootstrap*

#Documentation
_doc

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
