{% extends '::base.html.twig' %}

{% block body %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
{% block sidebar %}
        <p><a href="{{ path('fos_user_profile_edit') }}"> Modifica detalii cont </a></p>
        <p><a href="{{ path('fos_user_change_password') }}"> Schimba parola </a></p>
        <p><a href="{{ path('fos_user_security_logout') }}">Logout</a></p>
{% endblock %}
